@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Metropolis", Helvetica, Arial, sans-serif;
	--serif: Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 0px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--background-body: var(--color-white);
  --background-form: var(--color-off-white);
	--color-body: var(--color-off-black);
	--color-placeholder: var(--color-gray-dark);
  --color-link: var(--color-off-black);
  --color-focus: var(--color-red);
	--color-form: var(--color-off-black);
	--color-border: var(--color-gray-light);
	--color-selection: var(--color-gray-light);
  --color-highlight: var(--color-yellow);
	
	--font-size-large: clamp(2em, 3.25vw, 3.25em);
	--font-size-medium: clamp(1.5em, 2.25vw, 2.25em);
	--font-size-small: clamp(1em, 1.25vw, 1.25em);
	--font-size-tiny: 16px;
	--width-max: 1500px;
	--width-padded: 90vw;
}

body {
	font-size: 16px;
}

button, .btn {
	background: var(--color-body);
	color: var(--background-body);
	border-radius: var(--border-radius);
	padding: 0.5em;
	text-decoration: none;
	line-height: 1;
}

h1 {
	font-size: var(--font-size-large);
	line-height: 1;
	font-weight: 900;
}

h2 {
	font-size: var(--font-size-large);
	line-height: 1;
	font-weight: 900;
}

h3 {
	font-size: var(--font-size-medium);
}

h4 {
	font-size: var(--font-size-small);
}

p {
	font-size: var(--font-size-small);
}


details {
	font-size: var(--font-size-small);
	background-color: var(--color-off-white);
	padding: 1em;
}

summary {
	cursor: pointer;
}

.column {
	max-width: var(--width-max);
	width: var(--width-padded);
	margin: 0 auto;
}
