@font-face {
	font-family: 'Metropolis';
	src: url('assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
	url('assets/fonts/metropolis/Metropolis-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('assets/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2'),
	url('assets/fonts/metropolis/Metropolis-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
