<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	
		<title>Charlie Smart - The Pudding</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='description' content='Read more from Charlie Smart on The Pudding.' />
		<meta name='news_keywords' content='The Pudding' />

		<meta property='og:title' content='Read more from Charlie Smart on The Pudding.' />
		<meta property='og:site_name' content='The Pudding'/>
		<meta property='og:url' content='https://pudding.cool' />
		<meta property='og:description' content='Read more from Charlie Smart on The Pudding.' />
		<meta property='og:type' content='profile' />
		<meta property='og:locale' content='en_US' />

		<meta property='og:image' content='https://pudding.cool/common/assets/misc/social-facebook.jpg' />
		<meta property='og:image:type' content='image/jpeg' />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='600' />

		<meta name='twitter:card' content='summary_large_image'>
		<meta name='twitter:site' content='https://pudding.cool'>
		<meta name='twitter:creator' content='@puddingviz'>
		<meta name='twitter:title' content='The Pudding'>
		<meta name='twitter:description' content='Read more from Charlie Smart on The Pudding.'>
		<meta name='twitter:image:src' content='https://pudding.cool/common/assets/misc/social-twitter.jpg'>

		<link rel='apple-touch-icon' sizes='180x180' href='https://pudding.cool/apple-touch-icon.png'>
		<link rel='icon' type='image/png' sizes='32x32' href='https://pudding.cool/favicon-32x32.png'>
		<link rel='icon' type='image/png' sizes='16x16' href='https://pudding.cool/favicon-16x16.png'>
		<link rel='manifest' href='https://pudding.cool/site.webmanifest'>
		<link rel='mask-icon' href='https://pudding.cool/safari-pinned-tab.svg' color='#5bbad5'>
		<meta name='msapplication-TileColor' content='#ffc40d'>
		<meta name='theme-color' content='#ffffff'>

		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposHeadlineWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Bold.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2Web-Bold.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Black.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Bold.woff2'>
	

	<link inline rel='stylesheet' href='../../common/css/font.css'>
	<link inline rel='stylesheet' href='../../common/css/bundle.css'>
	
	<!-- smoosh -->
	<script inline src='../../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	


</head>


<body id='page-author'>

	<!-- DO NOT REMOVE -->
	
		<a href='#content' class='skip-to-main'>Skip to main content</a>
		<header class=''>
			
			<div class='header__top'>
				
				<div class='top__title'>
					<a class='title__wordmark' href='../../' aria-label='The Pudding homepage'>
						<img inline src='dev/common/assets/svg/pudding-wordmark.svg'>
					</a>
				</div>

				<nav class='top__nav'>
					<ul class='nav__links'>
						<li><a href='../../about'>About</a></li>
						<li><a href='../../archives'>Archives</a></li>
						<li><a href='../../topics'>Topics</a></li>
					</ul>
				</nav>

			</div>

			<p class='header__tagline'><span>The Pudding</span> is a digital publication that explains ideas debated in culture with visual essays.</p>
			

			<div class='header__cta'>
				
				<div class='cta__newsletter'>
					<form action='https://poly-graph.us11.list-manage.com/subscribe/post' method='POST'>
							<input type='hidden' name='u' value='c70d3c0e372cde433143ffeab'>
							<input type='hidden' name='id' value='9af100ac0f'>
							<input aria-label='email' class='newsletter__input' type='email' autocapitalize='off' autocorrect='off' name='MERGE0' id='MERGE0' size='25' value='' placeholder='you@example.com'>
							<div class='hidden-from-view' style='left:-10000px;position:absolute'>
								<input aria-label='text' type='text' name='b_c70d3c0e372cde433143ffeab_9af100ac0f' tabindex='-1' value=''>
							</div>
							<input class='btn' style='' type='submit' name='submit' value='Join Our Newsletter'>
						</form>
				</div>
					
				<div class='cta__patreon'>
					<a class='btn' href='https://www.patreon.com/thepudding'>Fund us on Patreon</a>
				</div>

				<ul class='cta__social'>
					<li><a href='https://www.facebook.com/pudding.viz/' aria-label='facebook' class='logo--facebook'><img inline src='dev/common/assets/svg/facebook.svg'></a></li>
					<li><a href='https://twitter.com/puddingviz' aria-label='twitter' class='logo--twitter'><img inline src='dev/common/assets/svg/twitter.svg'></a></li>
					<li><a href='https://www.instagram.com/the.pudding' aria-label='instagram' class='logo--instagram'><img inline src='dev/common/assets/svg/instagram.svg'></a></li>
				</ul>

			</div>

		</header>

	
		<aside class='sidebar'>
			<div class='sidebar__content'>
				<p class='sidebar__tagline'>The Pudding explains ideas debated in culture with visual essays.</p>
					<ul class='sidebar__links'>
						<li><a href='../../about'>About</a></li>
						<li><a href='../../topics'>Topics</a></li>
						<li><a href='../../archives'>Archives</a></li>
						<li><a href='http://eepurl.com/czym6f'>Join our Newsletter</a></li>
						<li><a href='https://pudding.cool/feed/index.xml'>RSS</a></li>
					</ul>
				<p class='sidebar__patreon'>We pour our ❤️ into these stories, but they take time and money. For just $1/month, you can help support us. Join our growing community of data-driven enthusiasts.<br><a class='random-background' href='https://www.patreon.com/thepudding'>Help fund us</a></p>
			</div>
		</aside>

		<div class='menu'>
			<a class='menu__logo' href='../../' aria-label='The Pudding homepage'>
				<img inline src='dev/common/assets/svg/pudding-logo.svg'>
			</a>
			
			<button class='menu__toggle' aria-label="Menu">
				<span class='toggle--on'>
					<img inline src='dev/common/assets/svg/menu.svg'>
				</span>
				<span class='toggle--off is-hidden'>
					<img inline src='dev/common/assets/svg/x.svg'>
				</span>
			</button>
		</div>
	
	<main id='content'>
		<section class='author'>
			<p class='section__label random-color'>Bio</p>
			<!-- DO NOT REMOVE -->
			
		<div class='bio'>
			<img class='bio__img' src="../../common/assets/authors/charlie.jpg" alt="Charlie Smart" />
			<div class='bio__info'>
				<p class='info__description'>
					<span class='description__name'>Charlie Smart</span>
					<span class='description__bio'>is a journalist, designer, and web tinkerer. He likes good food and good music.</span>
				</p>
			</div>
			<ul class='bio__links'>
					<li class='link__twitter'><a href='https://twitter.com/charliersmart'><img inline src='dev/common/assets/svg/twitter.svg'>@charliersmart</a></li>
					
					<li class='link__url'><a href='http://charliesmart.info'><img inline src='dev/common/assets/svg/link.svg'>website</a></li>
			</ul>
		</div>
	
		</section>
		
		<section class='stories'>
			<p class='section__label random-color'>Stories</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<li>
		<div class='story-item' data-id="2020/03/gifs" data-topic="other" data-chart="tree map,pie" data-keyword="culture" data-author="matt,charlie" data-author_slug="matt-daniels, charlie-smart" data-author_name="Matt Daniels, Charlie Smart" data-hed="the emotional gif range of celebs" data-dek="breaking down how celebrities are used to convey feelings." data-date="2020-03-08T05:00:00.000Z" data-views="17423" data-time_on_page="123">
			<div class='item__img'>
				<a href='//pudding.cool/2020/03/gifs'>
					<img src='../../common/assets/thumbnails/640/2020_03_gifs.jpg' alt='The Emotional GIF Range of Celebs'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2020/03/gifs'>
					<h3 class='item__hed'>The Emotional GIF Range of Celebs</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Breaking down how celebrities are used to convey feelings.</p>
					<time class='item__time' datetime='2020-03-08T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/matt-daniels'>Matt Daniels</a>, <a href='../../author/charlie-smart'>Charlie Smart</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2019/09/language-of-congress" data-topic="social" data-chart="line chart" data-keyword="politics,language" data-author="charlie" data-author_slug="charlie-smart" data-author_name="Charlie Smart" data-hed="the language of congress" data-dek="what topics do members of congress tweet about most frequently?" data-date="2019-09-15T04:00:00.000Z" data-views="24129" data-time_on_page="148">
			<div class='item__img'>
				<a href='//pudding.cool/2019/09/language-of-congress'>
					<img src='../../common/assets/thumbnails/640/2019_09_language-of-congress.jpg' alt='The Language of Congress'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2019/09/language-of-congress'>
					<h3 class='item__hed'>The Language of Congress</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>What topics do members of Congress tweet about most frequently?</p>
					<time class='item__time' datetime='2019-09-15T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/charlie-smart'>Charlie Smart</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/01/chyrons" data-topic="social" data-chart="bubble chart,unique,line chart,bar chart" data-keyword="news,media" data-author="charlie" data-author_slug="charlie-smart" data-author_name="Charlie Smart" data-hed="how cnn, msnbc, and fox cover the news" data-dek="the story you get depends on the channel you watch" data-date="2018-01-25T05:00:00.000Z" data-views="185944" data-time_on_page="274">
			<div class='item__img'>
				<a href='//pudding.cool/2018/01/chyrons'>
					<img src='../../common/assets/thumbnails/640/2018_01_chyrons.jpg' alt='How CNN, MSNBC, and FOX Cover the News'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/01/chyrons'>
					<h3 class='item__hed'>How CNN, MSNBC, and FOX Cover the News</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>The story you get depends on the channel you watch</p>
					<time class='item__time' datetime='2018-01-25T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/charlie-smart'>Charlie Smart</a></cite>
				</div>
			</div>
		</div>
	</li>
			</ul>
		</section>
	</main>

	<!-- DO NOT REMOVE -->
	

	<footer class='random-background'>
		<div class='footer__inner'>
			<div class='footer__cta'>
				<ul class='footer__cta-list'>
					<li>
						<a href='https://facebook.com/pudding.viz/'>
							<img inline src='dev/common/assets/svg/facebook.svg'>
							<p>FACEBOOK</p>
						</a>
					</li>
					<li>
						<a href='https://twitter.com/puddingviz/'>
							<img inline src='dev/common/assets/svg/twitter.svg'>
							<p>TWITTER</p>
						</a>
					</li>
					<li>
						<a href='https://www.instagram.com/the.pudding'>
							<img inline src='dev/common/assets/svg/instagram.svg'>
							<p>INSTAGRAM</p>
						</a>
					</li>
					<li>
						<a href='https://patreon.com/thepudding/'>
							<img inline src='dev/common/assets/svg/patreon.svg'>
							<p>PATREON</p>
						</a>
					</li>
          <li>
						<a href='https://pudding.cool/about'>
							<img inline src='dev/common/assets/svg/info.svg'>
							<p>ABOUT</p>
						</a>
					</li>
          <li>
						<a href='https://pudding.cool/privacy/'>
							<img inline src='dev/common/assets/svg/lock.svg'>
							<p>PRIVACY</p>
						</a>
					</li>
					<li>
						<a href='http://eepurl.com/czym6f'>
							<img inline src='dev/common/assets/svg/mail.svg'>
							<p>NEWSLETTER</p>
						</a>
					</li>
					<li>
						<a href='https://pudding.cool/feed/index.xml'>
							<img inline src='dev/common/assets/svg/rss.svg'>
							<p>RSS</p>
						</a>
					</li>
				</ul>
			</div>

			<div class='footer__about'>
				<img inline src='dev/common/assets/svg/pudding-wordmark.svg'></a>
				<p class='footer__description'><a href='https://pudding.cool'>The Pudding</a> is a digital publication that
					explains ideas debated in culture with visual essays.</p>
			</div>

		</div>
	</div>
	
</body>
<script src='../../common/js/d3.v5.min.js'></script>
<script inline src='../../common/js/general.js'></script>

</html>
