<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	
		<title>Ilia Blinderman - The Pudding</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='description' content='Read more from Ilia Blinderman on The Pudding.' />
		<meta name='news_keywords' content='The Pudding' />

		<meta property='og:title' content='Read more from Ilia Blinderman on The Pudding.' />
		<meta property='og:site_name' content='The Pudding'/>
		<meta property='og:url' content='https://pudding.cool' />
		<meta property='og:description' content='Read more from Ilia Blinderman on The Pudding.' />
		<meta property='og:type' content='profile' />
		<meta property='og:locale' content='en_US' />

		<meta property='og:image' content='https://pudding.cool/common/assets/misc/social-facebook.jpg' />
		<meta property='og:image:type' content='image/jpeg' />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='600' />

		<meta name='twitter:card' content='summary_large_image'>
		<meta name='twitter:site' content='https://pudding.cool'>
		<meta name='twitter:creator' content='@puddingviz'>
		<meta name='twitter:title' content='The Pudding'>
		<meta name='twitter:description' content='Read more from Ilia Blinderman on The Pudding.'>
		<meta name='twitter:image:src' content='https://pudding.cool/common/assets/misc/social-twitter.jpg'>

		<link rel='apple-touch-icon' sizes='180x180' href='https://pudding.cool/apple-touch-icon.png'>
		<link rel='icon' type='image/png' sizes='32x32' href='https://pudding.cool/favicon-32x32.png'>
		<link rel='icon' type='image/png' sizes='16x16' href='https://pudding.cool/favicon-16x16.png'>
		<link rel='manifest' href='https://pudding.cool/site.webmanifest'>
		<link rel='mask-icon' href='https://pudding.cool/safari-pinned-tab.svg' color='#5bbad5'>
		<meta name='msapplication-TileColor' content='#ffc40d'>
		<meta name='theme-color' content='#ffffff'>

		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposHeadlineWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Bold.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2Web-Bold.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Black.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Bold.woff2'>
	

	<link inline rel='stylesheet' href='../../common/css/font.css'>
	<link inline rel='stylesheet' href='../../common/css/bundle.css'>
	
	<!-- smoosh -->
	<script inline src='../../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	


</head>


<body id='page-author'>

	<!-- DO NOT REMOVE -->
	
		<a href='#content' class='skip-to-main'>Skip to main content</a>
		<header class=''>
			
			<div class='header__top'>
				
				<div class='top__title'>
					<a class='title__wordmark' href='../../' aria-label='The Pudding homepage'>
						<img inline src='dev/common/assets/svg/pudding-wordmark.svg'>
					</a>
				</div>

				<nav class='top__nav'>
					<ul class='nav__links'>
						<li><a href='../../about'>About</a></li>
						<li><a href='../../archives'>Archives</a></li>
						<li><a href='../../topics'>Topics</a></li>
					</ul>
				</nav>

			</div>

			<p class='header__tagline'><span>The Pudding</span> is a digital publication that explains ideas debated in culture with visual essays.</p>
			

			<div class='header__cta'>
				
				<div class='cta__newsletter'>
					<form action='https://poly-graph.us11.list-manage.com/subscribe/post' method='POST'>
							<input type='hidden' name='u' value='c70d3c0e372cde433143ffeab'>
							<input type='hidden' name='id' value='9af100ac0f'>
							<input aria-label='email' class='newsletter__input' type='email' autocapitalize='off' autocorrect='off' name='MERGE0' id='MERGE0' size='25' value='' placeholder='you@example.com'>
							<div class='hidden-from-view' style='left:-10000px;position:absolute'>
								<input aria-label='text' type='text' name='b_c70d3c0e372cde433143ffeab_9af100ac0f' tabindex='-1' value=''>
							</div>
							<input class='btn' style='' type='submit' name='submit' value='Join Our Newsletter'>
						</form>
				</div>
					
				<div class='cta__patreon'>
					<a class='btn' href='https://www.patreon.com/thepudding'>Fund us on Patreon</a>
				</div>

				<ul class='cta__social'>
					<li><a href='https://www.facebook.com/pudding.viz/' aria-label='facebook' class='logo--facebook'><img inline src='dev/common/assets/svg/facebook.svg'></a></li>
					<li><a href='https://twitter.com/puddingviz' aria-label='twitter' class='logo--twitter'><img inline src='dev/common/assets/svg/twitter.svg'></a></li>
					<li><a href='https://www.instagram.com/the.pudding' aria-label='instagram' class='logo--instagram'><img inline src='dev/common/assets/svg/instagram.svg'></a></li>
				</ul>

			</div>

		</header>

	
		<aside class='sidebar'>
			<div class='sidebar__content'>
				<p class='sidebar__tagline'>The Pudding explains ideas debated in culture with visual essays.</p>
					<ul class='sidebar__links'>
						<li><a href='../../about'>About</a></li>
						<li><a href='../../topics'>Topics</a></li>
						<li><a href='../../archives'>Archives</a></li>
						<li><a href='http://eepurl.com/czym6f'>Join our Newsletter</a></li>
						<li><a href='https://pudding.cool/feed/index.xml'>RSS</a></li>
					</ul>
				<p class='sidebar__patreon'>We pour our ❤️ into these stories, but they take time and money. For just $1/month, you can help support us. Join our growing community of data-driven enthusiasts.<br><a class='random-background' href='https://www.patreon.com/thepudding'>Help fund us</a></p>
			</div>
		</aside>

		<div class='menu'>
			<a class='menu__logo' href='../../' aria-label='The Pudding homepage'>
				<img inline src='dev/common/assets/svg/pudding-logo.svg'>
			</a>
			
			<button class='menu__toggle' aria-label="Menu">
				<span class='toggle--on'>
					<img inline src='dev/common/assets/svg/menu.svg'>
				</span>
				<span class='toggle--off is-hidden'>
					<img inline src='dev/common/assets/svg/x.svg'>
				</span>
			</button>
		</div>
	
	<main id='content'>
		<section class='author'>
			<p class='section__label random-color'>Bio</p>
			<!-- DO NOT REMOVE -->
			
		<div class='bio'>
			<img class='bio__img' src="../../common/assets/authors/ilia.jpg" alt="Ilia Blinderman" />
			<div class='bio__info'>
				<p class='info__description'>
					<span class='description__name'>Ilia Blinderman</span>
					<span class='description__bio'>is a Sr. Journalist-Engineer at The Pudding. He was first an academic, then a writer, and finally, joined those two occupations in holy union through data-driven storytelling. </span>
				</p>
			</div>
			<ul class='bio__links'>
					<li class='link__twitter'><a href='https://twitter.com/iliablinderman'><img inline src='dev/common/assets/svg/twitter.svg'>@iliablinderman</a></li>
					<li class='link__email'><a href='mailto:ilia@pudding.cool'><img inline src='dev/common/assets/svg/mail.svg'>ilia@pudding.cool</a></li>
					<li class='link__url'><a href='http://iliablinderman.com/'><img inline src='dev/common/assets/svg/link.svg'>website</a></li>
			</ul>
		</div>
	
		</section>
		
		<section class='stories'>
			<p class='section__label random-color'>Stories</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<li>
		<div class='story-item' data-id="2020/12/lighting-cost" data-topic="social" data-chart="" data-keyword="history" data-author="ilia,jan" data-author_slug="ilia-blinderman, jan-diehm" data-author_name="Ilia Blinderman, Jan Diehm" data-hed="the historical cost of light" data-dek="how difficult was it to obtain artificial light before the 19th century? well..." data-date="2020-12-18T05:00:00.000Z" data-views="20615287" data-time_on_page="0">
			<div class='item__img'>
				<a href='//pudding.cool/2020/12/lighting-cost'>
					<img src='../../common/assets/thumbnails/640/2020_12_lighting-cost.jpg' alt='The Historical Cost of Light'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2020/12/lighting-cost'>
					<h3 class='item__hed'>The Historical Cost of Light</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>How difficult was it to obtain artificial light before the 19th century? Well...</p>
					<time class='item__time' datetime='2020-12-18T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/jan-diehm'>Jan Diehm</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="process/how-to-make-dope-shit-part-3" data-topic="how" data-chart="" data-keyword="how-to" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="how to make dope shit part 3: storytelling" data-dek="how to think about storytelling in your data-driven visual essay." data-date="2020-09-01T04:00:00.000Z" data-views="20615287" data-time_on_page="0">
			<div class='item__img'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-3'>
					<img src='../../common/assets/thumbnails/640/process_how-to-make-dope-shit-part-3.jpg' alt='How to Make Dope Shit Part 3: Storytelling'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-3'>
					<h3 class='item__hed'>How to Make Dope Shit Part 3: Storytelling</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>How to think about storytelling in your data-driven visual essay.</p>
					<time class='item__time' datetime='2020-09-01T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2020/07/song-decay" data-topic="music" data-chart="line chart" data-keyword="music" data-author="matt,ilia" data-author_slug="matt-daniels, ilia-blinderman" data-author_name="Matt Daniels, Ilia Blinderman" data-hed="defining the ’90s music canon" data-dek="quantifying the songs that will characterize the ’90s" data-date="2020-07-22T04:00:00.000Z" data-views="0" data-time_on_page="0">
			<div class='item__img'>
				<a href='//pudding.cool/2020/07/song-decay'>
					<img src='../../common/assets/thumbnails/640/2020_07_song-decay.jpg' alt='Defining the ’90s Music Canon'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2020/07/song-decay'>
					<h3 class='item__hed'>Defining the ’90s Music Canon</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Quantifying the songs that will characterize the ’90s</p>
					<time class='item__time' datetime='2020-07-22T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/matt-daniels'>Matt Daniels</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2020/05/travel-local" data-topic="culture" data-chart="map" data-keyword="america" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="a data-driven trip through the usa" data-dek="a travel-like-a-local guide to 74,762 attractions according to 9,526,193 reviews" data-date="2020-05-27T04:00:00.000Z" data-views="0" data-time_on_page="0">
			<div class='item__img'>
				<a href='//pudding.cool/2020/05/travel-local'>
					<img src='../../common/assets/thumbnails/640/2020_05_travel-local.jpg' alt='A Data-driven Trip Through the USA'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2020/05/travel-local'>
					<h3 class='item__hed'>A Data-driven Trip Through the USA</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>A travel-like-a-local guide to 74,762 attractions according to 9,526,193 reviews</p>
					<time class='item__time' datetime='2020-05-27T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2020/01/diaspora" data-topic="culture" data-chart="map" data-keyword="america" data-author="ilia,izii" data-author_slug="ilia-blinderman, isabel-carter" data-author_name="Ilia Blinderman, Isabel Carter" data-hed="where international communities cluster" data-dek="america has often been called a nation of immigrants. here's where they settled." data-date="2020-01-23T05:00:00.000Z" data-views="17533" data-time_on_page="137">
			<div class='item__img'>
				<a href='//pudding.cool/2020/01/diaspora'>
					<img src='../../common/assets/thumbnails/640/2020_01_diaspora.jpg' alt='Where International Communities Cluster'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2020/01/diaspora'>
					<h3 class='item__hed'>Where International Communities Cluster</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>America has often been called a nation of immigrants. Here's where they settled.</p>
					<time class='item__time' datetime='2020-01-23T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/isabel-carter'>Isabel Carter</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2019/09/millennials" data-topic="culture" data-chart="word wall" data-keyword="language" data-author="allie,ilia,jan" data-author_slug="alexandra-saizan, ilia-blinderman, jan-diehm" data-author_name="Alexandra Saizan, Ilia Blinderman, Jan Diehm" data-hed="the millennial question" data-dek="how does popular media see our generation?" data-date="2019-09-26T04:00:00.000Z" data-views="52071" data-time_on_page="197">
			<div class='item__img'>
				<a href='//pudding.cool/2019/09/millennials'>
					<img src='../../common/assets/thumbnails/640/2019_09_millennials.jpg' alt='The Millennial Question'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2019/09/millennials'>
					<h3 class='item__hed'>The Millennial Question</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>How does popular media see our generation?</p>
					<time class='item__time' datetime='2019-09-26T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/alexandra-saizan'>Alexandra Saizan</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/jan-diehm'>Jan Diehm</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2019/06/science_etc_2" data-topic="culture" data-chart="timeline,beeswarm" data-keyword="health,science" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="a chronicle of the anti-vaccination movement" data-dek="how one unethical study on vaccines caused irreparable harm." data-date="2019-06-17T04:00:00.000Z" data-views="20527" data-time_on_page="113">
			<div class='item__img'>
				<a href='//pudding.cool/2019/06/science_etc_2'>
					<img src='../../common/assets/thumbnails/640/2019_06_science_etc_2.jpg' alt='A Chronicle of the Anti-vaccination Movement'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2019/06/science_etc_2'>
					<h3 class='item__hed'>A Chronicle of the Anti-vaccination Movement</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>How one unethical study on vaccines caused irreparable harm.</p>
					<time class='item__time' datetime='2019-06-17T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2019/05/science_etc_1" data-topic="culture" data-chart="heat map" data-keyword="science" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="how much data lies behind the paper you're reading?" data-dek="want to access the raw data behind an academic paper? good luck." data-date="2019-05-20T04:00:00.000Z" data-views="8969" data-time_on_page="116">
			<div class='item__img'>
				<a href='//pudding.cool/2019/05/science_etc_1'>
					<img src='../../common/assets/thumbnails/640/2019_05_science_etc_1.jpg' alt='How Much Data Lies Behind the Paper You're Reading?'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2019/05/science_etc_1'>
					<h3 class='item__hed'>How Much Data Lies Behind the Paper You're Reading?</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Want to access the raw data behind an academic paper? Good luck.</p>
					<time class='item__time' datetime='2019-05-20T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/12/brief-history" data-topic="social" data-chart="word cloud,line chart" data-keyword="history,america,news,media" data-author="ilia,jan" data-author_slug="ilia-blinderman, jan-diehm" data-author_name="Ilia Blinderman, Jan Diehm" data-hed="a brief history of the past 100 years" data-dek="an analysis of 12 decades of new york times headlines" data-date="2018-12-19T05:00:00.000Z" data-views="61870" data-time_on_page="153">
			<div class='item__img'>
				<a href='//pudding.cool/2018/12/brief-history'>
					<img src='../../common/assets/thumbnails/640/2018_12_brief-history.jpg' alt='A Brief History of the Past 100 Years'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/12/brief-history'>
					<h3 class='item__hed'>A Brief History of the Past 100 Years</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>An analysis of 12 decades of New York Times headlines</p>
					<time class='item__time' datetime='2018-12-19T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/jan-diehm'>Jan Diehm</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/11/dearabby" data-topic="people" data-chart="pictogram chart,scatter plot,waffle chart" data-keyword="relationships" data-author="ilia,caitlyn" data-author_slug="ilia-blinderman, caitlyn-ralph" data-author_name="Ilia Blinderman, Caitlyn Ralph" data-hed="30 years of american anxieties" data-dek="what 20,000 letters to an advice columnist tell us about what concerns us most." data-date="2018-11-13T05:00:00.000Z" data-views="42891" data-time_on_page="174">
			<div class='item__img'>
				<a href='//pudding.cool/2018/11/dearabby'>
					<img src='../../common/assets/thumbnails/640/2018_11_dearabby.jpg' alt='30 Years of American Anxieties'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/11/dearabby'>
					<h3 class='item__hed'>30 Years of American Anxieties</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>What 20,000 letters to an advice columnist tell us about what concerns us most.</p>
					<time class='item__time' datetime='2018-11-13T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/caitlyn-ralph'>Caitlyn Ralph</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/09/wiki-billboard" data-topic="people" data-chart="unique" data-keyword="wiki" data-author="russell,ilia,caitlyn" data-author_slug="russell-goldenberg, ilia-blinderman, caitlyn-ralph" data-author_name="Russell Goldenberg, Ilia Blinderman, Caitlyn Ralph" data-hed="the celebrity billboard project" data-dek="tracking the popularity of cultural figures in 2018" data-date="2018-09-11T04:00:00.000Z" data-views="116362" data-time_on_page="116">
			<div class='item__img'>
				<a href='//pudding.cool/2018/09/wiki-billboard'>
					<img src='../../common/assets/thumbnails/640/2018_09_wiki-billboard.jpg' alt='The Celebrity Billboard Project'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/09/wiki-billboard'>
					<h3 class='item__hed'>The Celebrity Billboard Project</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Tracking the popularity of cultural figures in 2018</p>
					<time class='item__time' datetime='2018-09-11T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/russell-goldenberg'>Russell Goldenberg</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a>, <a href='../../author/caitlyn-ralph'>Caitlyn Ralph</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/08/retraining" data-topic="social" data-chart="barbell plot,stacked bar chart,strip plot,scatter plot,bubble chart" data-keyword="jobs,automation,america" data-author="jordan,ilia" data-author_slug="jordan-dworkin, ilia-blinderman" data-author_name="Jordan Dworkin, Ilia Blinderman" data-hed="tech jobs may not solve america’s looming automation crisis" data-dek="tech retraining programs are becoming more popular. they may not be a solution." data-date="2018-08-02T04:00:00.000Z" data-views="24045" data-time_on_page="239">
			<div class='item__img'>
				<a href='//pudding.cool/2018/08/retraining'>
					<img src='../../common/assets/thumbnails/640/2018_08_retraining.jpg' alt='Tech Jobs may not Solve America’s Looming Automation Crisis'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/08/retraining'>
					<h3 class='item__hed'>Tech Jobs may not Solve America’s Looming Automation Crisis</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Tech retraining programs are becoming more popular. They may not be a solution.</p>
					<time class='item__time' datetime='2018-08-02T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/jordan-dworkin'>Jordan Dworkin</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2018/03/neighborhoods" data-topic="people" data-chart="map" data-keyword="geography,neighborhoods" data-author="amber,ilia" data-author_slug="amber-thomas, ilia-blinderman" data-author_name="Amber Thomas, Ilia Blinderman" data-hed="a tale of two cities" data-dek="using data to write love letters to the cities we call home" data-date="2018-03-21T04:00:00.000Z" data-views="12989" data-time_on_page="167">
			<div class='item__img'>
				<a href='//pudding.cool/2018/03/neighborhoods'>
					<img src='../../common/assets/thumbnails/640/2018_03_neighborhoods.jpg' alt='A Tale of Two Cities'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/03/neighborhoods'>
					<h3 class='item__hed'>A Tale of Two Cities</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Using data to write love letters to the cities we call home</p>
					<time class='item__time' datetime='2018-03-21T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/amber-thomas'>Amber Thomas</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="process/how-to-make-dope-shit-part-2" data-topic="how" data-chart="" data-keyword="how-to,design" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="how to make dope shit part 2: design" data-dek="some pointers on learning to design data-driven visual essays." data-date="2017-11-01T04:00:00.000Z" data-views="25501" data-time_on_page="172">
			<div class='item__img'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-2'>
					<img src='../../common/assets/thumbnails/640/process_how-to-make-dope-shit-part-2.jpg' alt='How to Make Dope Shit Part 2: Design'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-2'>
					<h3 class='item__hed'>How to Make Dope Shit Part 2: Design</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Some pointers on learning to design data-driven visual essays.</p>
					<time class='item__time' datetime='2017-11-01T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="process/how-to-make-dope-shit-part-1" data-topic="how" data-chart="" data-keyword="how-to" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="how to make dope shit part 1: working with data" data-dek="familiarize yourself with the tools used to make visual, data-driven essays." data-date="2017-08-13T04:00:00.000Z" data-views="31521" data-time_on_page="171">
			<div class='item__img'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-1'>
					<img src='../../common/assets/thumbnails/640/process_how-to-make-dope-shit-part-1.jpg' alt='How to Make Dope Shit Part 1: Working with Data'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/process/how-to-make-dope-shit-part-1'>
					<h3 class='item__hed'>How to Make Dope Shit Part 1: Working with Data</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Familiarize yourself with the tools used to make visual, data-driven essays.</p>
					<time class='item__time' datetime='2017-08-13T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2017/07/jobs" data-topic="social" data-chart="beeswarm,choropleth map,stacked bar chart" data-keyword="jobs,automation,politics,america" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="why the republican party wins when robots take your job" data-dek="job automation is only a matter of time. here's why the right will benefit." data-date="2017-07-11T04:00:00.000Z" data-views="16567" data-time_on_page="225">
			<div class='item__img'>
				<a href='//pudding.cool/2017/07/jobs'>
					<img src='../../common/assets/thumbnails/640/2017_07_jobs.jpg' alt='Why the Republican Party Wins When Robots Take Your Job'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2017/07/jobs'>
					<h3 class='item__hed'>Why the Republican Party Wins When Robots Take Your Job</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Job automation is only a matter of time. Here's why the right will benefit.</p>
					<time class='item__time' datetime='2017-07-11T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="process/regional_smoothing" data-topic="how" data-chart="" data-keyword="charts,how-to" data-author="ilia" data-author_slug="ilia-blinderman" data-author_name="Ilia Blinderman" data-hed="regional smoothing in r" data-dek="a guide to smoothing geospatial data in r" data-date="2017-05-11T04:00:00.000Z" data-views="14434" data-time_on_page="169">
			<div class='item__img'>
				<a href='//pudding.cool/process/regional_smoothing'>
					<img src='../../common/assets/thumbnails/640/process_regional_smoothing.jpg' alt='Regional Smoothing in R'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/process/regional_smoothing'>
					<h3 class='item__hed'>Regional Smoothing in R</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>A guide to smoothing geospatial data in R</p>
					<time class='item__time' datetime='2017-05-11T04:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2017/02/oscars_so_mapped" data-topic="entertainment" data-chart="map" data-keyword="oscars,movies,geography" data-author="matt,russell,ilia" data-author_slug="matt-daniels, russell-goldenberg, ilia-blinderman" data-author_name="Matt Daniels, Russell Goldenberg, Ilia Blinderman" data-hed="the geographic divide of oscars films" data-dek="mapping the popularity of oscar-nominated films in 2017" data-date="2017-02-23T05:00:00.000Z" data-views="17233" data-time_on_page="149">
			<div class='item__img'>
				<a href='//pudding.cool/2017/02/oscars_so_mapped'>
					<img src='../../common/assets/thumbnails/640/2017_02_oscars_so_mapped.jpg' alt='The Geographic Divide of Oscars Films'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2017/02/oscars_so_mapped'>
					<h3 class='item__hed'>The Geographic Divide of Oscars Films</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>Mapping the popularity of Oscar-nominated films in 2017</p>
					<time class='item__time' datetime='2017-02-23T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/matt-daniels'>Matt Daniels</a>, <a href='../../author/russell-goldenberg'>Russell Goldenberg</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li><li>
		<div class='story-item' data-id="2017/03/bechdel" data-topic="entertainment" data-chart="unique,table,waffle chart,stacked bar chart,bar chart" data-keyword="gender,equality,movies" data-author="matt,ilia" data-author_slug="matt-daniels, ilia-blinderman" data-author_name="Matt Daniels, Ilia Blinderman" data-hed="hollywood's gender divide and its effect on films" data-dek="the writers, directors, and producers who make films that fail the bechdel test" data-date="2016-01-01T05:00:00.000Z" data-views="40199" data-time_on_page="230">
			<div class='item__img'>
				<a href='//pudding.cool/2017/03/bechdel'>
					<img src='../../common/assets/thumbnails/640/2017_03_bechdel.jpg' alt='Hollywood's Gender Divide and its Effect on Films'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2017/03/bechdel'>
					<h3 class='item__hed'>Hollywood's Gender Divide and its Effect on Films</h3>
				</a>
				<div class='info__details'>
					<p class='item__dek'>The writers, directors, and producers who make films that fail the Bechdel test</p>
					<time class='item__time' datetime='2016-01-01T05:00:00.000Z'></time>
					<cite class='item__author'>By <a href='../../author/matt-daniels'>Matt Daniels</a>, <a href='../../author/ilia-blinderman'>Ilia Blinderman</a></cite>
				</div>
			</div>
		</div>
	</li>
			</ul>
		</section>
	</main>

	<!-- DO NOT REMOVE -->
	

	<footer class='random-background'>
		<div class='footer__inner'>
			<div class='footer__cta'>
				<ul class='footer__cta-list'>
					<li>
						<a href='https://facebook.com/pudding.viz/'>
							<img inline src='dev/common/assets/svg/facebook.svg'>
							<p>FACEBOOK</p>
						</a>
					</li>
					<li>
						<a href='https://twitter.com/puddingviz/'>
							<img inline src='dev/common/assets/svg/twitter.svg'>
							<p>TWITTER</p>
						</a>
					</li>
					<li>
						<a href='https://www.instagram.com/the.pudding'>
							<img inline src='dev/common/assets/svg/instagram.svg'>
							<p>INSTAGRAM</p>
						</a>
					</li>
					<li>
						<a href='https://patreon.com/thepudding/'>
							<img inline src='dev/common/assets/svg/patreon.svg'>
							<p>PATREON</p>
						</a>
					</li>
          <li>
						<a href='https://pudding.cool/about'>
							<img inline src='dev/common/assets/svg/info.svg'>
							<p>ABOUT</p>
						</a>
					</li>
          <li>
						<a href='https://pudding.cool/privacy/'>
							<img inline src='dev/common/assets/svg/lock.svg'>
							<p>PRIVACY</p>
						</a>
					</li>
					<li>
						<a href='http://eepurl.com/czym6f'>
							<img inline src='dev/common/assets/svg/mail.svg'>
							<p>NEWSLETTER</p>
						</a>
					</li>
					<li>
						<a href='https://pudding.cool/feed/index.xml'>
							<img inline src='dev/common/assets/svg/rss.svg'>
							<p>RSS</p>
						</a>
					</li>
				</ul>
			</div>

			<div class='footer__about'>
				<img inline src='dev/common/assets/svg/pudding-wordmark.svg'></a>
				<p class='footer__description'><a href='https://pudding.cool'>The Pudding</a> is a digital publication that
					explains ideas debated in culture with visual essays.</p>
			</div>

		</div>
	</div>
	
</body>
<script src='../../common/js/d3.v5.min.js'></script>
<script inline src='../../common/js/general.js'></script>

</html>
